<html>
    <body>
        <div>
            <p>
                &copy; Joshua Atkinson 2024 &#8277; <a href="https://github.com/Jatkin41/website">Source Code</a>
            </p>
        </div>
    </body>
</html>